body{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: rgb(174, 170, 177); */
    background-color: rgb(152, 153, 156);
    background-size: cover;
}

.btn1 button, .btn2 button{
    position: relative;
    display: block;
    margin: 0 20px;
    border: none;
    color: white;
    background: #222;
    padding: 17px 60px;
    font-size: 22px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    overflow: hidden;
}

button:hover{
    box-shadow: 0 5px 30px rgba(0,0,0,.2);
}

.btn1 button:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    transition: all .5s ease-in-out;
}

.btn1 button:after{
    background: #78c7d2;
    transform: translate(-98%, -25%) rotate(45deg);
}

.btn1:hover button:after{
    background: #78c7d2;
    transform: translate(-9%, -25%) rotate(45deg);
}

button span{
    position: relative;
    z-index: 1;
}